video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.App {
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.search {
  width: 100%;
  padding: 12px 24px;
  background-color: transparent;
  color: #575756;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
  box-sizing: border-box;
}

input,
button,
p {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
}

p {
  line-height: 10px;
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 12px 24px;
  box-sizing: border-box;
  border-radius: 12px;
}

button {
  width: 100%;
  margin-top: 10px;
  border-radius: 12px;
  border: none;
  background-color: #fff9b6;
  padding: 12px;
  cursor: pointer;
  margin-bottom: 60px;
}

.noMargin {
  margin-bottom: 0;
}

h1 {
  width: 400px;
  text-align: center;
  font-family: "Outfit", sans-serif;
}

@media all and (max-width: 500px) {
  form,
  h1 {
    width: 90%;
  }

  h1 {
    font-size: 26px;
  }

  input,
  button {
    font-size: 16px;
    color: black;
  }

  button {
    margin-bottom: 30px;
  }
}

@media all and (max-width: 800px) {
  form,
  h1 {
    width: 350px;
  }

  h1 {
    font-size: 32px;
  }

  input,
  button {
    font-size: 18px;
    color: black;
  }
}
